<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header style="background-color: lightgreen;border:1px solid black; height:55px;width:100%;">Header</header>
    <main style="border:1px solid red;height:80vh;width:100%;background-color: whitesmoke;">Main</main>
    <footer style="border:1px solid gainsboro;height:75px;width:100%;background-color: gray;">footer</footer>
</body>
</html>